/* background color of my app */

:root {
    --ion-background-color: #ff37;
}

:root.io {
    --ion-text-color: #ff3777;
}

:root.md {
    --ion-text-color: #ff3777;
}


/* Nav bar color */


/* Footer style */

.footer {
    --ion-background-color: #ff3777;
    --ion-text-color: #ff37;
    --ion-text-style: bold;
    -ms-flex-align: end;
    position: relative;
    bottom: 0px;
}